<app-dashboard-layout>
  <div class="p-6">
    <div class="mb-6 w-fit rounded-2xl pb-6 xs:p-6">
      <h1 class="text-2xl font-bold text-gray-text-1 dark:text-white">Transaction History</h1>
    </div>

    @if (paginatedData$ | async; as data) {
    <div class="space-y-4">
      <div class="w-[88vw] md:w-auto overflow-x-scroll scrollbar-hide">

        <app-data-table
        [columns]="columns"
        [data]="data.transactions || []"
        [loading]="data.loading"
        [error]="data.error"
        >
      </app-data-table>
    </div>

            @if (data.transactions && data.transactions.length > 0) {
        @if (data.pagination.totalCount > 10) {
          <app-pagination 
            [data]="{
              currentPage: data.pagination.currentPage,
              totalCount: data.pagination.totalCount,
              pageSize: data.pagination.pageSize,
              hasMore: data.pagination.hasMore
            }"
            (pageChange)="onPageChange($event)"
          ></app-pagination>
        }

        @if (data.loadMoreError) {
        <div class="text-sm text-red-600 dark:text-red-400">
          {{ data.loadMoreError }}
        </div>
        }
      }
    </div>
    }
  </div>
</app-dashboard-layout>
