<app-base-modal [isOpen]="isOpen" title="Swap Currencies" size="lg" (close)="closeModal()">
  <form [formGroup]="swapForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="flex items-start gap-4 justify-between">
      <div class="">
        <label class="block text-sm font-medium text-gray-text-2 mb-2 dark:text-white"
          >From Currency</label
        >
        <app-select
          [options]="currencyOptions"
          [size]="'md'"
          formControlName="fromCurrency"
          class="w-full"
        />
        @if (getFieldError('fromCurrency')) {
        <p class="mt-1 text-sm text-error-message-text">{{ getFieldError('fromCurrency') }}</p>
        }
        <p class="mt-1 text-xs text-gray-text-2 dark:text-white">
          Available: {{ getAvailableBalance() }} {{ swapForm.get('fromCurrency')?.value }}
        </p>
      </div>

      <div class="flex justify-center items-center pb-6">
        <ng-icon name="heroArrowsRightLeft" class="text-2xl dark:text-white!" />
      </div>

      <div class="">
        <label class="block text-sm font-medium text-gray-text-2 mb-2 dark:text-white"
          >To Currency</label
        >
        <app-select
          [options]="currencyOptions"
          [size]="'md'"
          formControlName="toCurrency"
          class="w-full"
        />
        @if (getFieldError('toCurrency')) {
        <p class="mt-1 text-sm text-error-message-text">{{ getFieldError('toCurrency') }}</p>
        }
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-text-2 mb-2 dark:text-white"
        >Amount to Swap</label
      >
      <app-input
        type="number"
        formControlName="amount"
        placeholder="Enter amount"
        step="0.01"
        min="0.01"
      />
      @if (getFieldError('amount')) {
      <p class="mt-1 text-xs text-error-message-text">{{ getFieldError('amount') }}</p>
      }
    </div>

    @if ((conversionResult$ | async) && swapForm.get('fromCurrency')?.value !==
    swapForm.get('toCurrency')?.value && !swapSuccess) {
    <div class="bg-gray-background-2 rounded-lg p-4">
      <div class="flex flex-wrap gap-4 items-center justify-between">
        <span class="text-sm w-full xs:w-auto block text-gray-text-2">
          You will receive {{ (conversionResult$ | async)?.result | number : '1.2-2' }}
          {{ swapForm.get('toCurrency')?.value }}
        </span>
        <span class="text-xs block text-gray-text-2">
          Rate: 1 {{ swapForm.get('fromCurrency')?.value }} =
          {{ (conversionResult$ | async)?.info?.rate | number : '1.4-4' }}
          {{ swapForm.get('toCurrency')?.value }}
        </span>
      </div>
    </div>
    } @if ((isConverting$ | async) && !swapSuccess) {
    <div class="bg-gray-background-2 rounded-lg p-4">
      <span class="text-sm text-gray-text-2">Getting conversion rate...</span>
    </div>
    } @if ((conversionError$ | async) && !swapSuccess) {
    <app-error-message>
      <span class="">{{ conversionError$ | async }}</span>
    </app-error-message>
    } @if (swapError$ | async) {
    <app-error-message>
      <span class="">{{ swapError$ | async }}</span>
    </app-error-message>
    } @if (swapSuccess) {
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative">
      <span class="block sm:inline">{{ successMessage }}</span>
    </div>
    }

    <div class="flex items-center gap-3 justify-between w-full">
      <app-button [type]="'button'" [variant]="'secondary'" class="flex-1" (click)="closeModal()">
        Cancel
      </app-button>
      <app-button
        [type]="'submit'"
        [disabled]="!swapForm.valid || (isSwapping$ | async) || false"
        class="px-4 py-2 rounded-lg font-medium transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 text-white"
      >
        @if (isSwapping$ | async) {
        <div class="flex items-center justify-center">Swapping...</div>
        } @else { Swap }
      </app-button>
    </div>
  </form>
</app-base-modal>
